.BotonList {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.BotomGood {
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 4px 8px rgba(76, 175, 80, 0.2);
}

.BotomNeutral {
  background-color: #FFC107;
  color: white;
  box-shadow: 0 4px 8px rgba(255, 193, 7, 0.2);
}

.BotomBad {
  background-color: #F44336;
  color: white;
  box-shadow: 0 4px 8px rgba(244, 67, 54, 0.2);
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  border: 2px solid #ccc;
}

th,
td {
  border: 1px solid #151515;
  padding: 10px;
  text-align: center;
}


thead {
  background-color: #757272;
  font-weight: 600;
  font-size: 20px;
}


tbody tr:nth-child(odd) {
  background-color: #d9eef5;
}


td:nth-child(2) {
  font-weight: bold;
  color: #007bff;
  
}


td:first-child {
  text-transform: capitalize;
}


tbody:empty {
  display: none;
}


table {
  border-radius: 8px;
  overflow: hidden;
}


body {
  padding: 20px;
  background-color: #b1b0b0;
}

.TOTALES{
  font-weight: 1000;
  color: #3a043a;
  font-size: 25px;
}

.SUMMARY{
  font-weight: 1000;
  color: #3a043a;
  font-size: 25px;
}